div#right_container div.protected_area {background:#e0f0f9}
div#right_container div.protected_area li .down {background:#CEE2EF;}
div#upper_area div.content div.right_sec {display:block;}
#edit_data_container div.data_edit {background:#E0F0F9;}
#edit_data_container div.data_edit div.orange {background:#CEE2EF;}